**/bin/
**/obj/
**/publish/
**/AppPackages/
*.user
*.suo
*.userprefs
*.swp
*.pidb
*.svclog
*.sln.docstates
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/
.vs/
.vscode/
.idea/
*.DotSettings.user
*.userosscache
*.sln.iml
*_log.txt
*.log
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
/xts_test/
/cbc_test/
/phase1_test/
/fileopt_test/